.sidemenu {
    width: 280px;
}

.destaca:hover {
    background-color: #D2F4EA;
}

li .link-body-emphasis {
    padding: 5px;
}
li .link-body-emphasis:hover {
    background-color: #D2F4EA;
}

@media screen and (max-width: 980px) {
    .sidemenu {
        width: 100%;
    }
}