<div class="flex-shrink-0 p-3 sidemenu">
<a class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold" routerLink="/">Menu</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="destaca pb-2 btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
        Iniciando
      </button>
      <div class="collapse" id="home-collapse" style="">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="/iniciando/conexao" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Conexão</a></li>
          <li><a routerLink="/iniciando/led" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Controlador LED</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Reports</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="destaca pb-2 btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Dashboard
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Overview</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Weekly</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Monthly</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Annually</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="destaca pb-2 btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Orders
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">New</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Processed</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Shipped</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="destaca pb-2 btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">New...</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Profile</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Settings</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-4">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div> 